<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--引入另一个xml文件的bean-->
    <import resource="Spring-Datasource.xml" />

    <bean id="customerDAO" class="com.atmoon.spring.base.customer.impl.CustomerDaoImpl">
        <property name="dataSource" ref="dataSource"></property>

    </bean>

</beans>