<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="car" class="com.atmoon.spring.base.car.Car">
        <constructor-arg>
            <value></value>
        </constructor-arg>
    </bean>


</beans>